*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, "Trebuchet MS" ,sans-serif;
    background: #fff url(imagens/bg.png) ;
    margin:15px;
}

a{
    text-decoration:none;
}

li{
    list-style-type: none;
}

#block{
    background: #ede9cc;
    min-width: 740px;
    max-width: 1180px;
    margin: 0 auto;
}

#top{
    position: relative;
    background:#dbcd87;
    height: 15.4em;
    min-height:250px;
}
#area-one-logo{
    position: absolute;
    background:url(imagens/topo-imagem-principal.png) no-repeat;
    width: 100%; height:250px;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top:15px;
    padding-left:15px;
}

#area-two-menu{
    background:url(imagens/topo-imagem-lateral.png) no-repeat;
    position: absolute;
    width:450px; height:250px;
    top: 0;
    right: 0;
    z-index: 2;
}

#chalé-hotel{
    text-indent:-4000px;
    background: url(imagens/logo.png) no-repeat;
    width:151px;
    height:67px;    
}

#Menu-locais{
    margin-left:80px;
    margin-right:15px;
    margin-top:15px;
    color:#776614;
    font-size:0.7em;
    border-top: #776614 1px solid;
    border-bottom: #776614 1px solid;
    float:left;
    padding: 10px 5px;
    }


    a.bottom-reservar{
        float: right;
        text-transform:uppercase;
        margin-right: 15px;
        margin-left:25px;
        color: #e3dbaf;
        background:#928229;
        padding:5px;
    }

    #Menu-locais span{
        line-height: 2em;
    }

    #list li{
        margin:15px 0 0 90px;
    }

    #list img{
        float:right;
        margin-top: -160px;
        margin-right: 10px;
    }

    #list ul li a{
        font-size: 0.9em;
        text-transform:uppercase;
        color:#928229;
    }
    #list ul li a:hover{
        background:#fef0b6;
        padding:5px
    }

/*************PROXIMA AREA*****************/

#Conteudo{
   min-width: 740px;
   max-width: 1180px;
   margin: auto;
   background: url(imagens/bg-container.png) top center repeat-y;
}

#Conteudo-one{
float: left;
width: 50%;
background: url(imagens/bg-area-principal.png) top left repeat-x;
}

#Conteudo-two{
float: right;
width: 50%;
background: url(imagens/bg-area-lateral.png) top left repeat-x;
}

.conteudo{
margin:auto ;
width: 90%;
}

    #Conteudo-one div.conteudo h2{
        color: #928229;
        font-size:1.2em;
        padding:20px 0 20px 0;
    }

    #Conteudo-one div.conteudo p{
        color: #000000;
        font-size:1em;
        line-height: 1.3em;
    }


#beneficios{
margin: 10px;
}    

    #beneficios li{
        padding:8px;
        height: 6em;
        border-bottom: 1px solid #f3efcb;
    }
    #beneficios li a img {
        float: left;
        margin-right: 8px;
        
    }
    #beneficios li a h3{
        font-size: 1em;
        color:#615b2d;
        background: url(imagens/ornamento.png)  right center no-repeat;
    }
    #beneficios li a p{
        font-size: 0.8em;
        color: #000000;
    }
    #beneficios li:hover{
        cursor: pointer;
        background: #f6f3d6;
    }
#Rodapé{ 
    height: 50px;
    clear:both;
    text-align: center;
    min-width: 740px;
    max-width: 1180px;
    margin: auto;
    line-height:3em;
    color: #928229;
    }
    .limpar{
        clear:both;
    }